<div style="color:white; margin-left: 8vw; margin-right: 8vw">
    <div style="width: 33%;float: left;padding: 20px;">
        <h3>Contact Us </h3>
        <ul style="list-style-type: none; padding: 0; margin: 0;">
@*            <li>41026 SKI PARK RD E, EATONVILLE, WA, US, 98328-8429</li>
            <li>360-832-1990</li>*@
            <li>info@brapshop.com</li>
        </ul>
    </div>
    <div style="width: 66%;float: left;padding: 20px;">
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li style="float: left;"><h3><a style="text-decoration:none; color:white" href="/termsandconditions">Terms & Conditions</a></h3></li>
            <li style="float: left; margin-left: 20%"><h3><a style="text-decoration:none; color:white" href="/shipping">Shipping</a></h3></li>
            <li style="float: right;"><h3><a style="text-decoration:none; color:white" href="/sitemap ">Sitemap</a></h3></li>
        </ul>
    </div>
</div>